body {
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px;
    color: #E5E7EB;
}

.container.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 80px;
    gap: 100px;
}

.cont1 {
    display: flex;
    flex-direction: column;
}

.image {
    height: 200px;
    width: 400px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    background-color: #3882F6;
    border: none;
}